<!-- Footer -->
<footer class="text-center text-lg-start" style="background-color: #ffffff;">
  <!-- Section: Social media -->
  <section class="d-flex justify-items-start justify-content-lg-between p-4 border-bottom">

    <!-- Left -->
    <div class="me-5 d-none d-lg-block" style="color: #000000;">
      <span style="font-size: 20px;">Hãy kết nối với chúng tôi qua mạng xã hội: </span>
    </div>
    <!-- Left -->

    <!-- Right -->

    <div style="display: flex;">
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"><img src="https://firebase-clothstoreclient.s3.ap-southeast-2.amazonaws.com/image+data+client/icon/facebook.png"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"><img src="https://firebase-clothstoreclient.s3.ap-southeast-2.amazonaws.com/image+data+client/icon/google.png"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"><img src="https://firebase-clothstoreclient.s3.ap-southeast-2.amazonaws.com/image+data+client/icon/instagram.png"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"><img src="https://firebase-clothstoreclient.s3.ap-southeast-2.amazonaws.com/image+data+client/icon/twitter.png"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"><img src="https://firebase-clothstoreclient.s3.ap-southeast-2.amazonaws.com/image+data+client/icon/linkedin.png"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="" style="color: #000000;">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h2 class="text-uppercase fw-bold mb-4" style="font-weight: bold;">
            <i class="fas fa-gem me-3 text-secondary"></i>CÔNG TY TNHH TMA VIỆT NAM
          </h2>
	        <p class="">Địa chỉ: Tầng 26, Tòa nhà CII Tower, số 152 Điện Biên Phủ, Phường 25, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam</p>
          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
          <p>Điện thoại: (028) 39309168</p>
          <p>Tổng đài: 1900-1533</p>
          <p>Ngày cấp: 15/07/2008 – Nơi cấp: Cục Thuế Hồ Chí Minh</p>
          <p>Hộp thư góp ý: jbvnfeedback@jollibee.com.vn</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4" style="font-weight: bold;">
            Products
          </h2>
         <ul class="m-0 p-0" style="list-style: none;">
                <p>
                  <li><a href="lien-he.html" style="color: #000000;">Liên hệ</a></li>
                </p>
                <p>
                  <li><a href="chinh-sach-va-quy-dinh-chung.html" style="color: #000000;">Chính sách và quy định chung</a></li>
                </p>
                <p>
                  <li><a href="chinh-sach-thanh-toan.html" style="color: #000000;">Chính sách thanh toán khi đặt hàng</a></li>
                </p>
                <p>
                  <li><a href="chinh-sach-hoat-dong.html" style="color: #000000;">Chính sách hoạt động</a></li>
                </p>
                <p>
                  <li><a href="chinh-sach-bao-mat-thong-tin.html" style="color: #000000;">Chính sách bảo mật thông tin</a></li>
                </p>
                <p>
                  <li><a href="thong-tin-van-chuyen.html" style="color: #000000;">Thông tin vận chuyển và giao nhận</a></li>
                </p>
                <p>
                  <li><a href="thong-tin-dang-ky-giao-dich-chung.html" style="color: #000000;">Thông tin đăng ký giao dịch chung</a></li>
                </p>
                <p>
                  <li><a href="huong-dan-dat-phan-an.html" style="color: #000000;">Hướng dẫn đặt phần ăn</a></li>
                </p>
            </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4" style="font-weight: bold;">
            Useful links
          </h2>
          <p>
            <a href="#!" class="text-reset" style="color: #000000;">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset"style="color: #000000;">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #000000;">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #000000;">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4" style="font-weight: bold;">Liên Hệ</h2>
          <p><i class="fas fa-home me-3 text-secondary"></i>317 Nguyễn Văn Luông Phường 12, Quận 6, TPHCM</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            nguyenminhthongitmix@example.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> +84703338458</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> +02841179521</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.02);">
    <p style="color: #000000;">© 2023 Copyright:</p>
    <a class="text-reset fw-bold" href="Angular.com">Angular.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
