.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
}

.carousel-indicators span {
    background-color: #bbb;
    /* Màu nền của indicator chưa được chọn */
    border: 1px solid #555;
    /* Viền của indicator chưa được chọn */
    border-radius: 50%;
    /* Bo tròn các góc để tạo hình tròn */
    width: 20px;
    /* Kích thước chiều rộng của indicator */
    height: 20px;
    /* Kích thước chiều cao của indicator */
    margin-right: 5px;
    /* Khoảng cách giữa các indicator */
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.carousel-indicators span:active {
    background-color: #333;
    /* Màu nền của indicator được chọn */
}

.btn {
    width: 16%;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    /* Đặt nút ở giữa theo chiều dọc */
    left: 50%;
    /* Đặt nút ở giữa theo chiều ngang */
    transform: translate(-50%, -50%);
    /* Dịch chuyển nút để căn giữa */
    color: black;

}

/*Template reviewer */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

body {
    margin-top: 30px;
    background-color: #eee;
}

.container {
    min-height: 40vh;
    padding: 20px 0;
    display: flex;
    margin-left: 0px;
}

p {
    margin: 0px
}

.card {
    width: 305px;
    height: 650px;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden
}

.card .backgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%
}

.card:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    animation: popBackground 0.3s ease-in;
    color: #000000;
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}

.card .pic {
    position: relative
}

.card .pic img {
    width: 100%;
    height: 280px;
    object-fit: cover
}

.card .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 70px;
    background-color: whitesmoke;
    color: #000000;
    position: absolute;
    bottom: 0px;
    transition: all ease
}

.card .date .day {
    font-size: 14px;
    font-weight: 600
}

.card .date .month,
.card .date .year {
    font-size: 10px
}

.card .text-muted {
    font-size: 12px
}

.card:hover .text-muted {
    color: #000000;
}

.card .content {
    padding: 0 20px
}

.card .content .btn {
    display: flex;
    width: 40%;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 12px;
    border: none
}

.card:hover .content .btn {
    background: #fff;
    color: black;
    box-shadow: #0000001a 0px 3px 5px
}

.card .content .btn .fas {
    font-size: 10px;
    padding-left: 5px
}

.card .content .foot .admin {
    color: #1b9ce3;
    font-size: 12px
}

.card:hover .content .foot .admin {
    color: #fff
}

.card .content .foot .icon {
    font-size: 12px
}


.content h3 {
    font-size: 25px;

}

.content p {
    font-size: 16px;
}

.content {
    margin-top: 10%;
}


.container-service {
    background: url("/assets/layoutHomePage.png");
    background-size: contain;
    padding: 70px 20px;
    height: 100vh;

}

.show-service {
    display: flex;
    justify-content: space-between;
}

.media-content {
    display: flex;
    justify-content: space-between;
}

.media-object {
    max-width: 309px;
    width: 100%;
}

.media-heading {
    font-size: 21px;
    line-height: 42px;
    font-family: 'MergeBlack', sans-serif;
    color: #42210b;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.media-heading h4 {
    height: 700;
}

.btn-see {
    background-color: whitesmoke;
    color: #000000;
    border: none;
    /* Xóa viền */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    height: 50px;
    display: inline-block;
}

.content-service {
    text-align: center;
}

.content-service h1 {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
}

.content-service p {
    font-size: 20px;
    font-weight: bold;
}

.pic {
    max-width: 100;
    background-color: #fff;
    background-size: cover;
    padding: 70px 20px;
    height: 100vh;
}

.container-select {
    max-width: 100;
    display: flex;
    height: 15vh;
    background-color: #fff;
}

.container-select .form-control {
    width: 45%;
    margin: auto;
}

.pic .btn_od {
    width: 15%;
    height: 5vh;
    font-size: 22px;
    font-weight: bold;
    margin-top: 22%;
    margin-left: 45%;
    cursor: pointer;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    color: black;
}

.item-content h4 {
    font-weight: bold;
    color: #941d2f;
}


.pulse-button {
    animation: pulse 1s infinite;
    /* Sử dụng animation với tên "pulse" và lặp vô hạn */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        /* Tăng kích thước nút tại mức 50% của animation */
    }

    100% {
        transform: scale(1);
    }
}
