<br>
<app-alert [isShowAlert]="showAlert"></app-alert>
<div class="cart-container">
  <a (click)="toogleCard()" class="cart-item">
    <img src="assets\shopping-cart.png" class="icon-card">
    <img src="assets\checkItemCard.png" class="check-has-item" [hidden]="isCheckHasItem"
         style="width: 15px; height: 15px">
  </a>
  <div class="cart" id="cart" [ngClass]="{'show': isCardVisible}">
    <!-- Nội dung giỏ hàng sẽ được thêm ở đây -->
    <table class="table">
      <thead style="font-size: 16px; font-weight: bold;">
      <tr>
        <th></th>
        <th scope="col">Mô Tả</th>
        <th scope="col">Code</th>
        <th scope="col">Tên Sản Phẩm</th>
        <th scope="col">kích cở</th>
        <th scope="col">màu sắc</th>
        <th scope="col">Số Lượng</th>
        <th scope="col">Đơn giá</th>
        <th scope="col">Tổng cộng</th>
      </tr>
      </thead>
      <tbody style="font-size: 16px;">

      <tr *ngFor="let item of cardItem">
        <td>
          <div class="num">
            <a class="numberdef"
               (click)="decQty(item)">
              <img src="assets/cancel.png" alt="icon">
            </a>
          </div>
        </td>
        <td>
          <img [src]=[[item.product?.image]] style="width: 6vw; height: auto">
        </td>
        <td>{{ item.product!.code }}</td>
        <td>{{ item.product!.name }}</td>
        <td>{{ item.size.optionProduct!.name }}</td>
        <td>{{ item.color.optionProduct!.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product!.price |  currency: 'VND':'symbol':'1.0-0' }}</td>
        <td>{{ item.amount | currency: 'VND':'symbol':'1.0-0' }}</td>
      </tr>
      <!-- Dòng sản phẩm trong giỏ hàng -->
      </tbody>
    </table>

    <div class="title-non-cart" [hidden]="!isCheckHasItem">
      <img src="//bizweb.dktcdn.net/100/472/913/themes/888429/assets/cart_empty_background.png?1688797805762"
           class="img-fluid" width="248" height="102">
      <div class="text-title">
        <p>“Hổng” có gì trong giỏ hết“</p>
        <p>Về trang cửa hàng để chọn mua sản phẩm bạn nhé!!</p>
      </div>
    </div>

    <div class="container-money" [hidden]="isCheckHasItem">
      <div class="content-money">
        <p style="font-size: 20px;">Tổng cộng:
          <span style="color:  #df0000;">{{ totalCard() | currency: 'VND':'symbol':'1.0-0' }}</span>
        </p>
      </div>
      <div class="payment-btn">
        <button class="payment" style="font-weight: bold; font-size: 18px;"
                (click)="setDataExportingbillTransaction()">ĐẶT HÀNG NGAY
        </button>
      </div>
    </div>
  </div>

</div>


<br>
<div class="container" *ngIf="productDetail">
  <div class="content-product">
    <div class="food-inf">
      <img [src]=[[productDetail.image]] alt="product images"
           style="width: 100vw; height: auto; max-width: 100%; max-height: 100%">
      <p></p><br>
      <h6>Chia sẻ</h6>
      <div class="social-share">
        <a href="https://www.facebook.com/" target="_blank" class="facebook">
          <img src="assets/google.png" alt="Facebook">
        </a>
        <a href="https://twitter.com/" target="_blank" class="twitter">
          <img src="https://img.icons8.com/color/48/zalo.png" alt="Twitter">
        </a>
        <a href="https://www.linkedin.com/" target="_blank" class="linkedin">
          <img src="assets/facebook.png" alt="LinkedIn">
        </a>
      </div>
    </div>
  </div>

  <div class="food-option">
    <div class="d-flex justify-content-between">
      <h3 class="food-name">{{ productDetail.name }}</h3>
    </div>

    <div class="group-status">
      <span class="first_status mr-2">
								Thương hiệu:
		  <span class="status_name">
							<a href="/collections/all?q=vendor.filter_key:(%22HYBID%C2%AE%22)&amp;page=1&amp;view=grid"
                 target="_blank" class="text-primary" title="HYBID®">
					ThreeT®</a></span>
	   </span>
      <span class="first_status product_sku">Mã sản phẩm:
        <span class="status_name product-sku" itemprop="sku"
              content="Đang cập nhật">{{ productDetail.code }}</span>
      </span>
    </div>

    <p></p>
    <div class="food-text">
        <span class="food-cost">{{ productDetail.price | currency: 'VND' | slice:1 }}
          <span class="symbol"
                style="font-size: 1.2rem; line-height: 1rem; letter-spacing: 0.1rem; text-decoration: underline">đ</span></span>
    </div>
    <br>

    <div class="product-coupon__wrapper my-3">
      <strong class="d-block mb-2">Mã giảm giá</strong>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-danger">PORNHUB</button>
        <button type="button" class="btn btn-outline-danger">TUAN7GA</button>
        <button type="button" class="btn btn-outline-danger">THONGNGUYEN</button>
        <button type="button" class="btn btn-outline-danger">KDG08F</button>
      </div>
    </div>
    <!--    SIZE-->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Size
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ng-container *ngFor="let s of productDetail.sizes; let i = index">
          <label class="dropdown-item">
            <mat-radio-button name="size" [checked]="i === 0" (change)="onChangeSizeOption(i)">
              {{ s.optionProduct!.name + "(+ " + (s.addition | currency: 'VND':'symbol':'1.0-0') + ")" }}
            </mat-radio-button>
          </label>
        </ng-container>
      </div>
    </div>

    <!--    Color-->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Colors
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ng-container *ngFor="let c of productDetail.colors; let i = index">
          <label class="dropdown-item">
            <mat-radio-button name="color" [checked]="i === 0" (change)="onChangeColorOption(i)">
              {{ c.optionProduct.name + "(+ " + (c.addition | currency: 'VND':'symbol':'1.0-0') + ")" }}
            </mat-radio-button>
          </label>
        </ng-container>
      </div>
    </div>
    <br>
    <br>
    <div class="input-group" style="width: 25vw">
      <input type="number" disabled="isInputDisable" class="form-control" [value]="inputNumberValue" #qty>
      <div class="input-append">
        <button class="btn btn-outline-secondary" type="button" id="btnMinus"
                (click)="decreaseQuality()">-
        </button>
        <button class="btn btn-outline-secondary" type="button" id="btnPlus"
                (click)="increaseQuality()">+
        </button>
      </div>
    </div>
    <br>
    <button class="order-food-card" style="font-weight: bold; font-size: 16px;"
            (click)="addProductToCardItem()">
      <img src="assets/add-to-cart.png">
      THÊM VÀO GIỎ HÀNG
    </button>
  </div>
</div>
<br>
<br>

<!-- DANH SACH SAN PHAM BAN DAU-->
<br>
<br>
<div class="tittle-text">
  <h1>NHỮNG SẢN PHẨM KHÁC</h1>

</div>

<ul class="product-list">
  <li class="product-item" *ngFor="let product of productDtos">
    <a class="product-image"> <img [src]=[product.image] alt="product images"
                                   style="width: auto; height: 40vh; cursor: pointer;"></a>
    <div class="product-inf">
      <span><a class="food-name" href="#">{{ product.name }}</a></span>
      <p></p>
      <div class="food-text">
        <p class="food-cost">{{ product.price  |  currency: 'VND':'symbol':'1.0-0' }}</p>
        <br>
        <button class="order-food" id="btn-order" [routerLink]="['/product', product.id]"
                (click)="selectProductForProductDetail(product)" [routerLink]="['/product', product.id]">CHỌN SẢN PHẨM
        </button>
      </div>
    </div>
  </li>
</ul>

<mat-paginator [length]="search.result.length" [pageSize]="search.recordOfPage" [pageSizeOptions]="itemInPageList"
               (page)="updateDataOfPageWhenChoseNext($event)" aria-label="Select page"
               style="margin-right: 7vw"></mat-paginator>
