
  <br>
  <br>
  <div class="tittle-text">
    <h1>THỰC ĐƠN HẰNG NGÀY</h1>
  </div>
<ul class="product-list">
    <li class="product-item" *ngFor="let food of foods">
        <img src={{food.imageURL}} alt="food images">
        <p></p>
        <div class="food-inf">
            <h4 class="food-name">{{food.name}}</h4>
            <p></p><br>
            <p></p>
            <div class="food-text">
                <h4 class="food-cost">{{food.price}},000 đ</h4>
                <button class="order-food" id = "btn-order" style="font-weight: bold;" [routerLink]="['/food', food.id]">Đặt Hàng</button>
            </div>
        </div>
    </li>
 </ul>



<div class="cart-container">
  <button id="show-cart-button" class = "btn btn-warning" (click)="toogleCard()">
    <div class="content-card">
      <img src="assets\shopping-cart.png" class="icon-card">
      <p>0đ</p>
    </div>
  </button>
  <div class="cart" id="cart" [ngClass]="{'show': isCardVisible}">
      <!-- Nội dung giỏ hàng sẽ được thêm ở đây -->
      <table class="table">
        <thead>
            <tr>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá</th>
                <th scope="col">Tổng cộng</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dòng sản phẩm trong giỏ hàng -->
            <tr>
                <td>Sản phẩm 1</td>
                <td>2</td>
                <td>$10</td>
                <td>$20</td>
            </tr>
            <!-- Dòng sản phẩm trong giỏ hàng -->
            <tr>
                <td>Sản phẩm 2</td>
                <td>1</td>
                <td>$15</td>
                <td>$15</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>