<br>
<br>
<div class="container" *ngIf="foodDetail">
   <div class="content-food">
        <img src="{{foodDetail.imageURL}}" alt="Hình ảnh món ăn">
        <p></p>
        <br>
        <h3>{{foodDetail.name}}</h3>
   </div>
   <div class="food-option">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CHỌN GÀ
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <label class="dropdown-item">
                    Món ăn 1 <input type="checkbox">
                </label>
                <label class="dropdown-item">
                    Món ăn 2 <input type="checkbox">
                </label>
            </div>
        </div>
       
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CHỌN KHOAI
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <label class="dropdown-item">
                    Món ăn 1 <input type="checkbox">
                </label>
                <label class="dropdown-item">
                    Món ăn 2 <input type="checkbox">
                </label>
                <label class="dropdown-item">
                    Món ăn 3 <input type="checkbox">
                </label>
                <label class="dropdown-item">
                    Món ăn 4 <input type="checkbox">
                </label>
            </div>
        </div>
        
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CHỌN NƯỚC
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <label class="dropdown-item">
                    Món ăn 1 <input type="checkbox">
                </label>
                <label class="dropdown-item">
                    Món ăn 2 <input type="checkbox">
                </label>
            </div>
        </div>
        
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                THÊM MÓN
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <label class="dropdown-item">
                    Món ăn 1 <input type="checkbox">
                </label>
                <label class="dropdown-item">
                    Món ăn 2 <input type="checkbox">
                </label>
                <label class="dropdown-item">
                    Món ăn 3 <input type="checkbox">
                </label>
                <label class="dropdown-item">
                    Món ăn 4 <input type="checkbox">
                </label>
            </div>
        </div>
        <br>
        <br>
        <div class="input-group">
            <input type="number" class="form-control" [(ngModel)]="quality">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btnMinus" (click)="decreaseQuality()">-</button>
                <button class="btn btn-outline-secondary" type="button" id="btnPlus" (click)="increaseQuality()">+</button>
            </div>
        </div>

        <br>
        <button class="order-food" id = "btn-order" style="font-weight: bold; font-size: 18px;" (click)="toggleShow()">ĐẶT HÀNG</button>
   </div>
</div>



<!-- DANH SACH SAN PHAM BAN DAU-->
<br>
<br>
<ul class="product-list">
  <li class="product-item" *ngFor="let food of foods">
      <img src={{food.imageURL}} alt="food images">
      <p></p>
      <div class="food-inf">
          <h4 class="food-name" style="font-weight: bold;">{{food.name}}</h4>
          <p></p><br>
          <p></p>
          <div class="food-text">
              <h4 class="food-cost" style="font-weight: bold; color: #e31837;">{{food.price}},000 đ</h4>
              <button class="order-foods" id = "btn-order" style="font-weight: bold;" [routerLink]="['/food', food.id]" (click)="getFoodById()">Đặt Hàng</button>
          </div>
      </div>
  </li>
</ul>




<div class="cart-container" #scrollTarget>
    <button id="show-cart-button" class = "btn btn-warning" (click)="toggleShow()">
      <div class="content-card">
        <img src="assets\shopping-cart.png" class="icon-card">
        <p>0đ</p>
      </div>
    </button>
    <div class="cart" id="cart" [ngClass]="{'show': isCardVibsible}">
        <!-- Nội dung giỏ hàng sẽ được thêm ở đây -->
        <table class="table">
          <thead>
              <tr>
                  <th scope="col">Tên món</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Giá</th>
                  <th scope="col">Tổng cộng</th>
              </tr>
          </thead>
          <tbody>
              <!-- Dòng sản phẩm trong giỏ hàng -->
              <tr>
                  <td>Sản phẩm 1</td>
                  <td>2</td>
                  <td>$10</td>
                  <td>$20</td>
              </tr>
              <!-- Dòng sản phẩm trong giỏ hàng -->
              <tr>
                  <td>Sản phẩm 2</td>
                  <td>1</td>
                  <td>$15</td>
                  <td>$15</td>
              </tr>
          </tbody>
      </table>
    </div>
</div>