<app-spinner [show]="isLoading"></app-spinner>
<br>
<h2 style=" color: #000000; font-weight: bold; text-align: center; font-size: 25px; margin-top: 30px;">ĐĂNG KÝ TÀI KHOẢN</h2>
<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <input type="text" [(ngModel)]="customer.fullName"
            class="form-control"
            id="fullName"
            name="fullName"
            placeholder="Họ và Tên"
            required #fullName="ngModel">
        </div>
        <div *ngIf="fullName.valid" class="alert alert-success">Hợp lệ</div>
        <div *ngIf="!fullName.valid" class="alert alert-danger">Điền đầy đủ họ tên của bạn</div>

        <div class="form-group">
          <input type="text" [(ngModel)]="customer.email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Điền email của bạn (vd:alex@gmail.com)"
            required #email="ngModel">
        </div>
        <div *ngIf="email.valid" class="alert alert-success">Hợp lệ</div>
        <div *ngIf="!email.valid" class="alert alert-danger">Điền đầy đủ địa chỉ Email của bạn</div>

        <div class="form-group">
          <input type="text" [(ngModel)]="customer.phone"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Số điện thoại"
            required #phone="ngModel">
        </div>
        <div *ngIf="phone.valid" class="alert alert-success">Hợp lệ</div>
        <div *ngIf="!phone.valid" class="alert alert-danger">Điền đầy đủ Số Điện Thoại của bạn</div>


        <div class="form-group">
          <input type="text" [(ngModel)]="customer.address"
            class="form-control"
            id="address"
            name="address"
            placeholder="Địa chỉ"
            required #address="ngModel">
        </div>
        <div *ngIf="address.valid" class="alert alert-success">Hợp lệ</div>
        <div *ngIf="!address.valid" class="alert alert-danger">Điền đầy đủ địa chỉ hiện tại của bạn</div>


        <div class="form-group">
            <input type="password" [(ngModel)]="customer.password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Mật khẩu"
              required #password="ngModel">
        </div>
        <div *ngIf="password.valid" class="alert alert-success">Hợp lệ</div>
        <div *ngIf="!password.valid" class="alert alert-danger">Tao mật khẩu cho tài khoản của bạn</div>


        <div class="form-group">
          <input type="date" [(ngModel)]="customer.birthday"
            class="form-control"
            id="birthday"
            name="birthday"
            placeholder="Ngày sinh"
            required #birthday="ngModel">
          </div>
          <div *ngIf="birthday.valid" class="alert alert-success">Hợp lệ</div>
          <div *ngIf="!birthday.valid" class="alert alert-danger">Vui lòng chọn ngày sinh của bạn</div>


        <div class="form-group">
          <select class="form-control" id="gender" name="gender" [(ngModel)]="customer.gender" required #gender = "ngModel" >
            <option value="null" disabled selected>Chọn giới tính</option>
            <option [ngValue]="'0'">Nam</option>
            <option [ngValue]="'1'">Nữ</option>
            <option [ngValue]="'2'">Khác</option>
          </select>
        </div>
        <div *ngIf="gender.valid" class="alert alert-success">Hợp lệ</div>
        <div *ngIf="!gender.valid" class="alert alert-danger">Vui lòng chọn giới tính của bạn</div>


        <!-- <div class="form-group">
          <select class="form-control" id="city" name="city" [(ngModel)]="customer.fullName" required #city = "ngModel">
            <option value="">Chọn một Tỉnh/Thành phố *</option>
            <option value="hcm">Hồ Chí Minh</option>
            <option value="hn">Hà Nội</option>
            <option value="dn">Đà Nẵng</option>

          </select>
          </div>
        <div [hidden]="!city.pristine" class="alert alert-danger">Vui lòng chọn tỉnh thành phố</div>
        <div *ngIf="email.valid" class="alert alert-success">Hợp lệ</div>
        <div *ngIf="!email.valid" class="alert alert-danger">Điền đầy đủ địa chỉ Email của bạn</div> -->

        <div class="content-signin">
          <input type="checkbox" [(ngModel)]="checkBoxAgree"
          id="checkagree"
          name = "checkagree"
          required #checkagree = "ngModel"><h6>Tôi đã đồng ý với điều khoản và dịch vụ</h6>
  
        </div>
       
        <button type="submit" [disabled]="!userForm.form.valid"
          class="btn btn-info" (click)="createUser()">Đăng Ký</button>
        <p></p>
        <div class="trigger-login">
          <span>Bạn đã có tài khoản? </span><a href="#" routerLink="/form-login">Đăng nhập</a>
        </div>
      </form>
    </div>
  </div>

