<app-spinner [show] = isLoading></app-spinner>
<br>
<h2 style=" color: #000000; font-weight: bold; text-align: center; font-size: 25px; margin-top: 30px;">HÃY ĐĂNG NHẬP</h2>
<div class="card my-5">
    <div class="card-body">

      <div *ngIf="isCheckLogin" class="notification">
        <div class="content">
          <img src="assets/errror.png" alt="Icon" width="20" height="20">
          <h5>Tên đăng nhập hoặc mật khẩu không chính xác</h5>
        </div>
      </div>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">

        <div class="form-group">
          <label for="username">Tên đăng nhập</label>
          <input type="text" [(ngModel)]="username"
                 class="form-control"
                 id="username"
                 name="phone"
                 placeholder="Email hoặc Số điện thoại"
                 required #phone="ngModel">
        </div>
        <div [hidden]="!phone.pristine" class="alert alert-danger">Tên tài khoản không được để trống</div>


        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input type="password" [(ngModel)]="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Mật khẩu"
            required #email="ngModel">
          </div>
          <div [hidden]="!email.pristine" class="alert alert-danger">Mật khẩu không được để trống</div>

        <button type="submit" [disabled]="!userForm.form.valid"
          class="btn btn-info" (click)="btnLogin()">Đăng nhập</button>
          <p></p>
        <div class="trigger-login">
          <span>Bạn chưa có tài khoản ? </span><a href="#" routerLink="/form-signin">Đăng ký</a>
        </div>
      </form>
    </div>
  </div>
