
 /* Định dạng nút mặc định */
 .btn{
    padding: 0; /* Xóa padding */
    background-color: #e31837;
    color: #fff;
    border: none; /* Xóa viền */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    height: 50px;
  }
  
.card{
  width: 40%;
  margin: auto;
}
.trigger-login{
  margin-right: 50%;
}
