<div class="container">
    <div class="image-content">
        <img class = "" src="assets\bee.png" style="height: 350px;">
   </div>
   <div class="content">
        <h2>LỊCH SỬ HÌNH THÀNH</h2>
        <p>
            Jollibee là một câu chuyện thành công phi thường bởi chỉ từ 2 tiệm kem nhỏ hình thành vào năm 1975, chuyên bán các món ăn nóng và bánh mì kẹp đã trở thành công ty với 7 cửa hàng vào năm 1978, chuyên về bơ gơ. Sau đó trở thành một tập đoàn tạo nên cuộc cách mạng thức ăn nhanh tại Philippines.
            Jollibee hiện có hơn 1000 cửa hàng tại Philippines và hơn 300 cửa hàng tại các quốc gia trên khắp thế giới như Mỹ, Hong Kong, các tiểu vương quốc Ả Rập Thống Nhất, Qatar, Brunei, Trung Quốc, và Việt Nam.
        </p>
   </div>
</div>

<div class="container_1">
    <div class="item-image">
        <img src="assets\itemImg_1.png">
    </div>
    <div class="item-image">
        <img src="assets\itemImg_2.png">
    </div>
    <div class="item-image">
        <img src="assets\itemImg_1.png">
    </div>
    <div class="item-image">
        <img src="assets\itemImg_3.png">
    </div>
    <div class="item-image">
        <img src="assets\itemImg_5.png">
    </div>
    <div class="item-image" style="background-color: #e31837; width: 100%;">
        <div class="icon-cursor" style="display: flex; justify-content: center; margin-top: 28%; justify-content: space-between;
        margin-right: 100px; margin-left: 90px;">
            <div>
                <a href="https://www.fb.com">
                    <img src="assets\icon-fb-43.png" style="cursor: pointer;">
                </a>
            </div>

            <div>
               <a href="https://www.gmail.com">
                 <img src="assets\icon-mail-43.png" style="cursor: pointer;">
               </a>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="container_3">
   <div class="content">
        <h2>Về TMA Solution</h2>
        <p>
            Cửa hàng Jollibee đầu tiên được mở tại Việt Nam vào năm 2005. Kể từ đó, Jollibee đã nỗ lực hết mình để mang đến các gia đình Việt những phần ăn ngon miệng với mức giá hợp lý.
        </p>
        <p>
            Đến hôm nay, Jollibee đã có hơn 100 cửa hàng tại Việt Nam trải rộng trên toàn quốc. Jollibee không đơn thuần phục vụ những món thức ăn nhanh chất lượng theo quy trình được kiểm duyệt nghiêm khắc, mà còn mang đến cho mọi người không gian ấm áp, sang trọng để ai cũng được thưởng thức ẩm thực vui vẻ, thoải mái nhất bên gia đình và bè bạn. Từ những nền tảng này, Jollibee Việt Nam luôn ấp ủ trở thành thương hiệu thức ăn nhanh mang đến những món ăn ngon với hương vị phù hợp cho người Việt bên cạnh mục tiêu tạo ra một địa điểm ẩm thực góp phần gắn kết gia đình Việt qua bữa ăn ngon. Và đây cũng chính là tiền đề để Jollibee củng cố và phát triển bền vững trong dài hạn.
        </p>
        <p>
            Năm 2003, TMA thành lập trung tâm nghiên cứu và phát triển R&D. Số lượng nhân viên lúc này cũng đạt được 200 người.[3]

            Năm 2005, TMA thành lập trụ sở ở nước ngoài đầu tiên tại Canada.[cần dẫn nguồn] Xét về mặt các trụ sở trong nước, cùng với trụ sở tại đường Đặng Văn Ngữ (quận Phú Nhuận) được thành lập vào năm 2004, đến năm 2005, TMA lại mở thêm một trụ sở mới trên đường Trần Hữu Trang (quận Phú Nhuận), đẩy số lượng trụ sở lên 5, góp phần mở rộng quy mô công ty hơn.
        </p>
   </div>
</div>

<div class ="card-viewer">
    <div class="card" style="width: 18rem;">
        <img src="assets\card_1.jpg" class="card-img-top" alt="..." style="height: 50%;">
        <div class="card-body">
          <h5 class="card-title">Vé thành viên</h5>
          <p class="card-text">Mang đến nhiều ưu đãi hằng tháng cho khách hàng sử dụng dịch vụ fast product tại cửa hàng chúng tôi</p>
          <a href="#" class="btn btn-primary">Khám phá ngay</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="assets\card_2.jpg" class="card-img-top" alt="..." style="height: 50%;">
        <div class="card-body">
          <h5 class="card-title">Combo hoàn hảo</h5>
          <p class="card-text">Tại đây có nhiều combo món ăn các thành viên có thể lựa chọn những món ăn yêu thích dành riêng cho mình</p>
          <a href="#" class="btn btn-primary">Khám phá ngay</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="assets\card_3.jpg" class="card-img-top" alt="..." style="height: 50%;">
        <div class="card-body">
          <h5 class="card-title">Vé tích điểm (Voucher)</h5>
          <p class="card-text">Tích điểm càng nhiều có cơ hội nhận ngay giải thưởng đặt biệt là 100.000.000 triệu đồng đến từ cửa hàng của chúng tôi</p>
          <a href="#" class="btn btn-primary">Khám phá ngay</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="assets\card_4.jpg" class="card-img-top" alt="..." style="height: 50%;">
        <div class="card-body">
          <h5 class="card-title">Hộp quà may mắn</h5>
          <p class="card-text">Dành tăng cho khách hàng VIP siêu ưu đãi lớn đối với những thành viên được ưu đãi nhiều nhất khi mua hàng tại cửa hàng chúng tôi</p>
          <a href="#" class="btn btn-primary">Khám phá ngay</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="assets\card_5.jpg" class="card-img-top" alt="..." style="height: 50%;">
        <div class="card-body">
          <h5 class="card-title">Menu đa dạng các món ăn thuộc tuýp ăn vặt hàng đầu Viêt Nam</h5>
          <p class="card-text">Đừng lo vì chiếc bụng đói  vì ở đây đã có cửa hàng thức ăn vặt fooding tma luôn sẵn sàng phục vũ khách hàng</p>
          <a href="#" class="btn btn-primary">Khám phá ngay</a>
        </div>
      </div>
</div>

<br>
<br>

<div class="container_4">
	<div class="row">
	    <div class="container_4">
            <blockquote class="quote-card">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>

              <cite>
                Lorem I psum
              </cite>
            </blockquote>

            <blockquote class="quote-card blue-card">
              <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vero!
             </p>

             <cite>
              Lorem
            </cite>
          </blockquote>

          <blockquote class="quote-card green-card">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque at, architecto culpa sint veniam temporibus!!
            </p>

            <cite>
              Lorem ipsum
            </cite>
          </blockquote>

          <blockquote class="quote-card red-card">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque at, architecto culpa sint veniam temporibus!!architecto culpa sint veniam temporibus!!
            </p>

            <cite>
              Lorem ipsum dolor
            </cite>
          </blockquote>

          <blockquote class="quote-card yellow-card">
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea tempora quia praesentium vitae ratione corporis similique, recusandae incidunt beatae, quae vel magni repellat commodi modi unde suscipit debitis labore odit!
           </p>

           <cite>
            Ipsum dolor
          </cite>
        </blockquote>

        </div>
	</div>


  <br>
  <br>

  <iframe width="1538" height="600" style="margin-left: 100px;" src="https://www.youtube.com/embed/8-m0lVBgUpo?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br>



